*{
background-color: #030346

}

h1{
margin-BOTTOM:50.5px;
background-color: rgb(130, 158, 27);
text-align: center;   
}
h2{background-color: #a2daa5;
    margin-bottom: 50px;

    text-align: center;


}
h4{ background-color: beige
    margin-top: 50xp;
}
p{

    font: size 64xp;
    font-family;
}