*{background-color: brown;
    margin: 0;
}
h2{
margin:50px;
margin-BOTTOM: 37.5px;
padding-top:37.5xp;
background-color: hsl(253, 76%, 47%);
text-align: center;   
}
a
{background-color: violet;
text-align: center;   
}

}
p{background-color: rgb(22, 19, 9)
}