*{background-color: hsl(182, 86%, 67%);

}
h1{
background-color: hsl(253, 76%, 47%);
text-align: center;   
}
a
{background-color: #f5f3f5;
    text-align: center;   
}

}
p{background-color: cornsilk
    text-align: center; 
}